*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vh;
    overflow-x: none;
}
.navContainer{
    width: 100vw;
    background-color: rgba(113,113,154,0.776);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#navList{
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navLogi{
    font-size: 2.8rem;
}